* {
    margin: 0px;
}

#header_container {
  width: 100%;
  height: 100px;
  background-color: #343F64;
}

#header {
margin: 0 auto;
  width: 1200px;

}

.nav {
  float: left;
  margin-top: -100px;
  margin-left: 350px;
  height: 100px;
    text-align: center;
    font-weight: lighter;
    font-size: 0.95em;
    font-family: Century Gothic;
    text-transform: uppercase;
    list-style-type: none;
    overflow: hidden;
}

ul {    
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    background-color: #343F64;
    color: white;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

.active {
    color: #E9DB89;
}

li img {
    float: left;

}

img {
    margin-left: 75px;
}

.logo {
    float:left;
    z-index: 1000;
}