* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

body {
    color: white;
    font-family: tahoma;
    font-size: 18px;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 70px;
    background: white;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

section{height: 100vh;}

#screen1 {
    background-image: url(/images/temp.png);
    background-size: cover;
}