/* Sticky Navigation CREDIT: Etrics from codepen.io (BEAUTIFUL job on sticky navigation) */
body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.socials {
  position: absolute;
  left: 27%;
  top: 70%;
  bottom: 0;
}

.icon {
  height: 30px;
}

.icon:hover {
  opacity: 0.6;
}

.sub-icon {
  height: 25px;
}
.sub-icon2 {
  height: 30px;
}

.titleText {
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.titleText:after {
  content: "";
  position: absolute;
  border-top: 4px solid #69273e;
  left: 9%;
  bottom: -50%;
  width: 80%;
  height: 0px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.header {
  width: 100%;
  display: block;
}

.et-slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 728px;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.et-slide-projects {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: table;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  position: relative;
  background: #eee;
  text-align: center;
  justify-content: center;
}

.et-hero-tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 40px;
  position: relative;
  background: #eee;

  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: #1c1c1c;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab-res {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: #1c1c1c;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab-res:hover {
  color: white;
  background: #69273e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab:hover {
  color: white;
  background: #69273e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #69273e;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .titleText {
    font-size: 4rem;
  }

  .hLine {
    height: 500px;
  }

  .socials {
    left: 36%;
  }
  
  .icon {
    height: 40px;
  }
}

@media (min-width: 1000px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .titleText {
    font-size: 5rem;
  }

  .hLine {
    height: 800px;
  }

  .socials {
    left: 40%;
  }
  
  .icon {
    height: 60px;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }

  .et-hero-tab-res {
    font-size: 1rem;
  }
}

article {
  width: 450px;
  margin: 10px 10px;
  background: white;
  border-bottom: 10px solid darken(#000, 10%);
  border-radius: 3px;
  position: relative;
  display:inline-block; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

article .article-header {
  position: relative;  
  padding: 0;
  margin: 0;
  height: 200px;
  overflow: hidden; 
}

article .project-header {
  position: relative;  
  padding: 0;
  margin: 0;
  height: 250px;
  overflow: hidden; 
}

article .project-header img {
  width: 450px;
}

article .project-header h1 {
  position: absolute;
  height: 250px;
  width: 450px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  top: 20%;
  font-size: 23px;
  color: #000;
  opacity: 0;
  transition: opacity .5s;
  z-index: 1;
}

article .project-header:hover h1{
  opacity: 1;
}

article .project-header h2 {
  position: absolute;
  height: 250px;
  width: 450px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  top: 50%;
  font-size: 15px;
  color: #000;
  opacity: 0;
  z-index: 1;
}

article .project-header:hover h2{
  opacity: 1;
}

article .project-header:hover img {
  opacity: 0.4;
}

article:hover .article-body span {
  opacity: 1;
}

article .article-header img {
  width: 400px;
  transition: transform .5s; /* Animation */
}

article .article-header img:hover {
  transform: scale(1.5);
  opacity: 0.6;
}

article .article-body {
  position: relative;  
  padding: 0% 20px;
  padding-bottom: 22px;
}

article .article-body span {
  position: absolute;
  right: 0;
  bottom: 0px;
  background: #FFF;
  color: #FFF;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

article .article-body span:hover {
  opacity: 0.3;
}

article .article-body h1 {
  color: black;
  font-weight: 200;
  font-size: 20px;  
}